/* || RESET  */

/*--------------------------------------------------------------
# reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

/* || VARIABLE */

:root {
    --FONT-FF-HS: 'Raleway, sans-seris';
    --FONT-FF-MN: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: var(--FONT-FF-MN);
}

p {
    font-size: 1.1em;
}

/* || COMMON GLOBAL STYLES  */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--FONT-FF-HS);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

span {
    font-weight: bolder;
}

.back2top a {
    position: sticky;
}

/* || Color Scheme Section */

body {
    background: #f5f7fa;
    color: #333333;
}

.sidebar {
    background: #0a192f;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
    color: #173b6c;
}

a {
    color: #149ddd;
}

a:hover {
    color: #ff4500;
}

button, 
.button__submit a{
    background: #ff6600;
    color: #ffffff;
}

button:hover {
    background: #ff4500;
}

.project__container,
.profile-card,
.contact form {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.aside__footer,
.testimonials {
    background: #173b6c;
    color: #ffffff;
    margin-bottom: 0;
}


/* GENERAL SECTION STYLE */

.section__title {
    padding-bottom: 30px;
}

.section__title h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #173b6c;
    position: relative;
}

.section__title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}


.sidebar {
   /*  background: #040b14;
    color: whitesmoke; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    width: 300px;
    position: fixed;
    overflow: none;
    top: 0;
}

.header__profile,
.header__socialmedia,
.aside__navigation,
.aside__footer {
    min-width: 100%;
}

.header__profile img {
    display: block;
    margin-left: 80px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 50%;
}

.header__profile h1 {
    text-align: center;
}

.header__lists {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 10px;
}

.header__lists li a {
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: whitesmoke;
}

.header__lists li a i {
    text-align: center;
}

.header__navlist {
    display: block;
    padding-left: 30px;
    padding-top: 26px;
}

.header__navlist li {
    margin: 20px;
    padding-bottom: 10px;

}

.header__navlist li a {
    color: whitesmoke;
    opacity: 70%;


}

.header__navlist li a:hover {
    opacity: 100%;
}

.header__navlist i::after {
    content: "";
    padding: 5px;
}

.aside__footer {
    margin: 10px 10px 0 10px;
    padding: 10px;
    text-align: center;
}


/* || Main Contents */

.tcontainer {
    margin-left: 300px;
    padding: 0 30px;
}

.main__hero {
    max-width: 100%;
    display: block;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    color: whitesmoke;
}


/* || About Section styles */

.about__information {
    display: flex;
}

.about__info-content {
    margin-left: 20px;
}

.about__info-content-title {
    padding-bottom: 20px;
}

.about__li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}


.about__li li {
    margin: 20px;
    font-size: 1.2rem;
}

.about__li-left,
.about__li-right {
    width: 100%;
}

.about__li div span::after {
    content: ': ';
}

.about__li li::before {
    content: '> ';
    color: #149ddd;
    font-weight: bolder;
}

.about__info-content>p {
    margin-top: 5px;
}

.about__para {
    margin-top: 30px;
}


@media (max-width : 800px) {

    .about__information {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about__info-img {
        max-width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .about__li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* || RESUME STYLES */

.resume__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resume__info-title h3 {
    font-size: 1.8rem;
}

.resume__info-contents h4 {
    font-size: 1.2rem;
}

.resume__info-contents {
    padding: 0 0 0 20px;
    margin-top: 8px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume__info-contents::before {
    content: "";
    background: #fff;
    border-radius: 50px;
    border: 2px solid #1f5297;
    height: 16px;
    left: -9px;
    top: 0;
    width: 16px;
    position: absolute;
}

.resume__info-contents h4 {
    margin: 0 0 10px 0;
}

.resume__info-contents ul li {
    font-size: 1.05rem; 
}

.me p {
    font-style: italic;
    margin-bottom: 10px;
}

.resume__info-contents ul li {
    list-style-type: disc;
}

.resume__info span {
    font-size: 1rem;
    background: #e4edf9;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
}

.education p {
    margin-bottom: 10px;
}

.experience ul li {
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .resume__info {
        display: grid;
        grid-template-columns: 1fr;
    }
}


/* || PROJECTS DESIGN */

.projets__all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    
}

.project__container {
/*     background: whitesmoke;
 */    padding: 15px;
    border-radius: none;
/*     box-shadow: 20px 0 250px rgba(5, 13, 24, 0.08); */
/*     box-shadow: rgba(13, 4, 4, 0.5) 0px 0px 1px;
 */}

.project__container h4 {
    font-size: 1.3rem;
    font-family: var(--FONT-FF-HS);
}

.project__container p {
    opacity: 75%;
    font-size: medium;
/*     font-family: 'manrope';
 */}

.project__container .links a{
    background: #ccc;
    display: inline-block;
    margin-top: 10px;
    padding: 6px;
    border-radius: 7px;
}

@media (max-width: 800px) {
    .projets__all {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        
    }
}

/* || Responsive Design */

.testimonials {
    background:#f1f4f6;
}

.testimonials__person {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}

.profile-card {
    border-radius: 10px;
    padding: 15px;
}

.testimonials__header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    max-width: 100%;
    margin-right: 15px;

}

.testimonials__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.testimonials__header h4 {
    font-size: 1.5rem;
}

.person__one {
    grid-column: 1 / 3;
    background-color: hsl(263, 55%, 52%);
    color: white;
    
}

.person__two {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.person__three {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.person__five {
    grid-column: 4;
    grid-row: 1 / 3;
    background-color: hsl(263, 55%, 52%);
}

.person__four {
    box-shadow: rgba(13, 4, 4, 0.5) 0px 0px 1px;
}

@media (max-width:800px) {

    .testimonials__person {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .person__one {
        background-color: hsl(263, 55%, 52%);
        color: white;
        
    }
    
    .person__two {
        background-color: hsl(217, 19%, 35%);
        color: white;
    }
    
    .person__three {
        background-color: hsl(219, 29%, 14%);
        color: white;
    }
    
    .person__five {
        background-color: hsl(263, 55%, 52%);
    } 
}


/* || Contact Form Design */
.contact {
    padding-bottom: 100px;
} 

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    max-width: 100%;
    box-shadow: rgba(13, 4, 4, 0.5) 0px 0px 1px;

}

label ,
input ,
textarea {
    padding: 7px;
    outline: none;
    width: 100%;
}

button {
    all: unset;
   /*  color: whitesmoke;
    background: #149ddd; */
    border-radius: 7px;
    padding: 3px;
    cursor: pointer;
}
.button__submit {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

textarea {
    all: unset;
    border: 1px solid black;
    width: 100%;
}


/* || Responsive Designs */

@media (max-width : 800px) {
    .sidebar {
        display: none;
    }

    .tcontainer {
        margin-left: 0;
        padding: 0 15px;
    }

    .contact {
        padding-bottom: 150px;
    } 
    

}